*{
margin: 0px;
}


body{
background: darkblue;
color: white;
font-family: 'Nunito',sans-serif;
}
.header{
background: rgba(30, 1, 63);                                                                     
color: white;
display: flex;
justify-content: space-between;
height:90px;
}

.header li{
height:inherit;
}

.header a{
color: white;
text-decoration: none;
height:inherit;
display: flex;
align-items: center;
padding:0px 10px;
}

.logo img {
width: 160px;

}

.menu{
height:inherit;
}

.principal{
background: #ffffff;




text-align: center;
padding: 100px  ;
}
.principal img{
width: 300px;
}
h1{
font-family: 'Nunito',sans-serif;
color: black;
font-size: 50px;
}

h1 strong{
color: rgb(92, 45, 92);
}

.principal img {
width: 300px;
}

.button{
width: 300px;
height: 60px;
background-color:purple;
color: white;
border-radius: 24px;
border: none;
font-size: 20px;
cursor: pointer;
margin-top: 30px;
}

ul{
   list-style: none;
margin: 0px;
padding: 0px;
display: flex;
height:inherit;
}
.somos{
background-color: rgb(75, 1, 94);
padding:50px;
font-size: 20px;
text-align: center;
}


.somos h2{
color: #ca86d6;
margin-bottom: 10px;
}

.somos p{
margin-bottom: 20px;
}
/*
.padre{
background: red;
flex-direction: row;
display: flex;
flex-wrap: nowrap;
text-align: center;
}

.hijo{
background-color: rgb(166, 112, 190);
width: 840px;
height: 480px;
border: 2px solid rgb(105, 72, 119);
font-size: 30px;
padding-top: 50px;
}
*/

.tercera{
background-color: yellowgreen;
padding:25px 100px 200px 50px;
}
.conteiner1{
   display: flex;
   background: plum;
   padding: 20px;
   justify-content: space-around;
}
.conteiner2{
   background: rgb(94, 14, 94);
   text-align: center;
}

.col1-container1 {
width: 400px;
}
.col2-container2 {
width: 200px;
}

.col3-container3{
width: 300px;
}

.row1-contacto img{ 
width: 35px;
height: 35px;
}

.row2-contacto img {
   width: 35px;
   height: 35px;
}
.row1-redes img {
width: 35px;
height: 35px;
}

.row1-contacto{
   display: flex;
   margin: 10px 0px;
}

.row1-contacto p {
   padding-left: 10px;
}

